body {
  background-image: linear-gradient(#ffb97c, #ff8159, #d14463);
}

img.icon {
  height: 100%;
  width: auto;
}

nav.navbar {
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

div.cropper {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

table.navbar-left {
  border-spacing: 20px;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

div.login {
  float: right;
}

#carousel {
  margin: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: 4px solid #f8d27b;
  height: 50%;
  width: 50%;
  left: 25%;
}

#carousel-image {
  height: 400px;
  object-fit: cover;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 60px;
  color: white;
  font-size: 20px;
}

div.flex-item {
  border: 0px solid #f84343;
  display: flex;
}

div.card {
  background-color: #ff8a52;
  border: 4px solid #f8d27b;
}

h1 {
  justify-content: space-evenly;
  padding-left: 90px;
  padding-right: 60px;
  color: white;
  text-align: center;
}

p.indent {
  text-indent: 5em;
}

p.buffer {
  text-align: center;
  color: white;
}

.panel {
  margin: 20px auto;
  width: 400px;
}

#selected {
  background-color: #ff8159;
  color: white;
}

#deselected {
  background-color: #ffb97c;
  color: white;
}

img.tangerine {
  height: 30px;
  width: 30px;
}