@charset "UTF-8";
.IchibaForWatch * {
  box-sizing: border-box;
  outline: none; }

.IchibaForWatch svg {
  display: block; }

.IchibaForWatch_Header {
  position: relative;
  padding: 10px 0; }

.IchibaForWatch_Title {
  font-size: 14px; }
  .IchibaForWatch_Title_Body {
    display: inline-block;
    vertical-align: middle;
    color: #001835;
    line-height: 1;
    font-weight: bold; }
  .IchibaForWatch_Title_Hint {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-top: -0.3em;
    margin-left: 4px;
    padding: 3px;
    background-color: #B0BAC3;
    border-radius: 16px; }
    .IchibaForWatch_Title_Hint:hover {
      background-color: #666666; }

.IchibaSuggest {
  margin: 40px auto 0; }
  .IchibaSuggest_Container {
    position: relative; }
  .IchibaSuggest_Title {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #000; }
  .IchibaSuggest_SubTitle {
    margin-left: 0.4em;
    font-weight: normal; }
  .IchibaSuggest_Sort {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
  .IchibaSuggest_List {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }

.IchibaSuggestItem {
  flex: 0 0 326px;
  display: flex;
  position: relative;
  max-width: 326px;
  min-height: 128px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05); }
  .IchibaSuggestItem_Thumbnail {
    flex: 0 0 80px;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden; }
    .IchibaSuggestItem_Thumbnail a {
      display: block;
      width: 100%;
      height: 100%; }
    .IchibaSuggestItem_Thumbnail img {
      max-width: 80px;
      max-height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
  .IchibaSuggestItem_Detail {
    margin-left: 8px; }
  .IchibaSuggestItem.Clicked .IchibaSuggestItem_AddButton {
    display: none; }
  .IchibaSuggestItem.Clicked {
    background: none;
    border-color: transparent;
    box-shadow: none; }
  .IchibaSuggestItem_ReleaseState {
    margin-bottom: 2px;
    color: #444;
    font-size: 10px;
    line-height: 1; }
    .IchibaSuggestItem_ReleaseState_Date {
      color: #ff0000; }
  .IchibaSuggestItem_Name {
    word-break: break-all;
    color: #006699;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 54.6px; }
  .IchibaSuggestItem_Info {
    word-break: break-all;
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1.4;
    color: #666;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 80px; }
    .IchibaSuggestItem_Info_Shop {
      margin-right: 8px; }
  .IchibaSuggestItem_Price {
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1; }
    .IchibaSuggestItem_Price_Number {
      word-break: break-all;
      color: #444; }
    .IchibaSuggestItem_Price_SaleRate {
      margin-left: 4px; }
      .IchibaSuggestItem_Price_SaleRate_Number {
        color: #ff0000; }
  .IchibaSuggestItem_Purchase {
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1; }
    .IchibaSuggestItem_Purchase_Number {
      color: #ff5700;
      font-weight: bold;
      margin-right: 2px;
      word-break: break-all; }
  .IchibaSuggestItem_Reservation {
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1; }
    .IchibaSuggestItem_Reservation_Number {
      color: #ff0000;
      font-weight: bold;
      margin-right: 2px;
      word-break: break-all; }
  .IchibaSuggestItem_Price, .IchibaSuggestItem_Reservation, .IchibaSuggestItem_Purchase {
    max-width: 112px; }
  .IchibaSuggestItem_AddButton {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    padding: 7px 13px;
    color: #252525;
    font-size: 10px !important;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f4f4f4; }
  .IchibaSuggestItem.Clicked .IchibaSuggestItem_AddButton--clicked {
    display: block;
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: none;
    color: #252525;
    font-size: 10px;
    line-height: 10px; }
  .IchibaSuggestItem_ReleaseState, .IchibaSuggestItem_Price_SaleRate, .IchibaSuggestItem_Reservation, .IchibaSuggestItem_Purchase {
    display: none; }
  .PreRelease .IchibaSuggestItem_ReleaseState,
  .Reserved .IchibaSuggestItem_Reservation,
  .Purchased .IchibaSuggestItem_Purchase {
    display: inherit; }
  .Sale .IchibaSuggestItem_Price_SaleRate {
    display: unset; }

.IchibaForWatch {
  background: #fff;
  padding: 12px 4px; }
  .IchibaForWatch_EditButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    padding: 10px 20px;
    color: #0080ff;
    font-size: 12px !important;
    font-weight: bold;
    border: 2px solid #0080ff;
    border-radius: 4px; }
  .IchibaForWatch_SearchButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    padding: 10px 20px;
    color: #0080ff;
    font-size: 12px !important;
    font-weight: bold;
    border: 2px solid #0080ff;
    border-radius: 4px; }
  .IchibaForWatch.Blank .IchibaForWatch_EditButton,
  .IchibaForWatch.Blank .IchibaMain_Container--default {
    display: none; }
  .IchibaForWatch.Blank .IchibaForWatch_Container--blank {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 8px; }
  .IchibaForWatch.Blank .IchibaForWatch_Container {
    display: none; }
  .IchibaForWatch.Full .IchibaSuggest {
    display: none; }
  .IchibaForWatch.Unavailable .IchibaForWatch_EditButton,
  .IchibaForWatch.Unavailable .IchibaMain_Container--default,
  .IchibaForWatch.Unavailable .IchibaSuggest,
  .IchibaForWatch.Unavailable .IchibaFooter {
    display: none; }
  .IchibaForWatch.Unavailable .IchibaForWatch {
    margin: 72px auto; }

.IchibaMain_Container--default {
  margin-top: 24px; }

.IchibaMain_Container--unavailable {
  margin: 48px 0 120px; }
  .IchibaMain_Container--unavailable p {
    color: #999;
    text-align: center;
    font-size: 14px;
    font-weight: bold; }

.IchibaMain_Container--blank {
  margin: 24px 0 60px;
  text-align: center; }

.IchibaMain_Container .IchibaBalloon {
  width: 320px;
  background: #f4f4f4;
  padding: 16px;
  margin: 0 auto 20px;
  border-radius: 8px;
  position: relative; }
  .IchibaMain_Container .IchibaBalloon::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    border: 16px solid transparent;
    border-top: 16px solid #f4f4f4;
    z-index: 2; }
  .IchibaMain_Container .IchibaBalloon_Text {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    line-height: 2; }

.IchibaMain_List {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0; }

.IchibaMainItem {
  flex: 0 0 152px;
  margin-bottom: 24px;
  text-align: left;
  margin-right: 20px; }
  .IchibaMainItem:nth-child(4n) {
    margin-right: 0; }
  .IchibaMainItem_Thumbnail {
    position: relative;
    width: 152px;
    height: 152px;
    overflow: hidden;
    border: 1px solid #ddd; }
    .IchibaMainItem_Thumbnail a {
      display: block;
      width: 100%;
      height: 100%; }
    .IchibaMainItem_Thumbnail img {
      max-width: 152px;
      max-height: 152px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
  .IchibaMainItem_Detail {
    width: 152px;
    margin-top: 4px; }
  .IchibaMainItem_ReleaseState {
    margin-bottom: 2px;
    color: #444;
    font-size: 10px;
    line-height: 1; }
    .IchibaMainItem_ReleaseState_Date {
      color: #ff0000; }
  .IchibaMainItem_Name {
    word-break: break-all;
    color: #006699;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4; }
  .IchibaMainItem_Info {
    word-break: break-all;
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1.4;
    color: #666; }
    .IchibaMainItem_Info_Shop {
      margin-right: 8px; }
  .IchibaMainItem_Price {
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1; }
    .IchibaMainItem_Price_Number {
      word-break: break-all;
      color: #444; }
    .IchibaMainItem_Price_SaleRate {
      margin-left: 4px; }
      .IchibaMainItem_Price_SaleRate_Number {
        color: #ff0000; }
  .IchibaMainItem_Purchase {
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1; }
    .IchibaMainItem_Purchase_Number {
      color: #ff5700;
      font-weight: bold;
      margin-right: 2px;
      word-break: break-all; }
  .IchibaMainItem_Reservation {
    margin-top: 4px;
    max-width: 100%;
    font-size: 10px;
    line-height: 1; }
    .IchibaMainItem_Reservation_Number {
      color: #ff0000;
      font-weight: bold;
      margin-right: 2px;
      word-break: break-all; }
  .IchibaMainItem_ReleaseState, .IchibaMainItem_Price_SaleRate, .IchibaMainItem_Reservation, .IchibaMainItem_Purchase {
    display: none; }
  .PreRelease .IchibaMainItem_ReleaseState,
  .Reserved .IchibaMainItem_Reservation,
  .Purchased .IchibaMainItem_Purchase {
    display: inherit; }
  .Sale .IchibaMainItem_Price_SaleRate {
    display: unset; }

.IchibaFooter {
  margin-top: 32px;
  text-align: center; }
  .IchibaFooter_SearchButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    padding: 10px 20px;
    color: #0080ff;
    font-size: 12px !important;
    font-weight: bold;
    border: 2px solid #0080ff;
    border-radius: 4px; }
  .IchibaFooter_UsageViolationLink {
    margin-top: 32px;
    font-size: 12px;
    text-align: left; }

#bottomContentTabContainer .IchibaForWatch .IchibaMainItem {
  flex: 0 0 138px;
  margin-right: 16px; }
  #bottomContentTabContainer .IchibaForWatch .IchibaMainItem:nth-child(4n) {
    margin-right: 0; }
  #bottomContentTabContainer .IchibaForWatch .IchibaMainItem_Thumbnail {
    position: relative;
    width: 138px;
    height: 138px;
    overflow: hidden;
    border: 1px solid #ddd; }
    #bottomContentTabContainer .IchibaForWatch .IchibaMainItem_Thumbnail a {
      display: block;
      width: 100%;
      height: 100%; }
    #bottomContentTabContainer .IchibaForWatch .IchibaMainItem_Thumbnail img {
      max-width: 138px;
      max-height: 138px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
  #bottomContentTabContainer .IchibaForWatch .IchibaMainItem_Detail {
    width: 138px;
    margin-top: 4px; }

#bottomContentTabContainer .IchibaForWatch .IchibaSuggestItem {
  flex: 0 0 294px;
  max-width: 294px; }

.IchibaModal {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .IchibaModal * {
    box-sizing: border-box;
    outline: none; }
  .IchibaModal svg {
    display: block; }
  .IchibaModal_Container {
    position: relative;
    z-index: 5500002;
    width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #ffffff; }
  .IchibaModal_Header {
    position: relative;
    padding: 16px; }
  .IchibaModal_Title {
    font-size: 14px; }
    .IchibaModal_Title_Body {
      display: inline-block;
      vertical-align: middle;
      color: #001835;
      line-height: 1;
      font-weight: bold; }
    .IchibaModal_Title_Hint {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin-top: -0.3em;
      margin-left: 4px;
      padding: 3px;
      background-color: #B0BAC3;
      border-radius: 16px; }
      .IchibaModal_Title_Hint:hover {
        background-color: #666666; }
  .IchibaModal_Body {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding-right: 16px;
    border-top: 1px solid #eeeeee;
    background-color: #fafafa; }
  .IchibaModal_CloseButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    position: absolute;
    z-index: 9999;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #999999;
    border-radius: 32px; }
    .IchibaModal_CloseButton:hover {
      background-color: #666666; }
  .IchibaModal_ResultInformation {
    margin: 16px 0;
    text-align: right;
    font-size: 10px; }
  .IchibaModal .IchibaSuggest {
    flex: 0 0 672px;
    margin: 0;
    padding: 0; }
    .IchibaModal .IchibaSuggest_Title {
      margin-bottom: 8px;
      padding-top: 8px;
      max-width: 500px;
      min-height: 32px;
      line-height: 1.4; }
    .IchibaModal .IchibaSuggest_Sort {
      height: 32px;
      background-color: #ffffff;
      border: 1px solid #dddddd; }
    .IchibaModal .IchibaSuggestItem {
      min-height: 118px; }
      .IchibaModal .IchibaSuggestItem_ReleaseState, .IchibaModal .IchibaSuggestItem_Reservation, .IchibaModal .IchibaSuggestItem_Purchase {
        display: none; }

.IchibaSearchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px; }
  .IchibaSearchForm_Category {
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #dddddd; }
  .IchibaSearchForm_Keyword {
    display: flex;
    width: 223px;
    height: 32px;
    margin-left: 8px; }
    .IchibaSearchForm_Keyword_Input {
      flex: 0 0 223px;
      padding: 0 8px;
      border: 1px solid #dddddd;
      border-right: none;
      border-radius: 4px 0 0 4px; }
    .IchibaSearchForm_Keyword_SubmitButton {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      border: none;
      background: none;
      padding: 0;
      text-align: center;
      line-height: 1 !important;
      flex: 0 0 32px;
      padding: 8px;
      background-color: #999999;
      border-radius: 0 4px 4px 0; }
      .IchibaSearchForm_Keyword_SubmitButton:hover {
        background-color: #666666; }

.IchibaTagSearch {
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 4px; }
  .IchibaTagSearch_Title {
    margin-bottom: 4px;
    font-weight: bold; }
  .IchibaTagSearch_List {
    margin: 0;
    padding: 0; }
  .IchibaTagSearch_Item {
    list-style: none;
    display: inline-block;
    vertical-align: middle; }
    .IchibaTagSearch_Item a {
      text-decoration: none;
      display: block;
      margin-top: 4px;
      padding: 0.6em 0.6em;
      font-size: 12px;
      line-height: 1;
      color: #666666;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px; }
      .IchibaTagSearch_Item a:hover {
        color: #ffffff;
        background-color: #666666;
        border: 1px solid #666666; }

/* ページング */
.IchibaConsoleTransition {
  margin-top: 16px;
  text-align: center; }
  .IchibaConsoleTransition a,
  .IchibaConsoleTransition span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    padding: 0.4em 0.6em;
    font-size: 12px;
    color: #666666;
    text-align: center;
    text-decoration: none; }
  .IchibaConsoleTransition a {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 4px; }
    .IchibaConsoleTransition a:hover {
      color: #ffffff;
      background-color: #666666;
      border: 1px solid #666666; }
  .IchibaConsoleTransition span {
    font-weight: bold; }

.IchibaAdded {
  flex: 0 0 280px;
  padding: 0 8px;
  background-color: #eeeeee;
  border-radius: 4px;
  height: 720px;
  overflow-y: scroll; }
  .IchibaAdded_Header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 8px 0;
    background-color: #eeeeee; }
  .IchibaAdded_Title {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold; }
  .IchibaAdded_Description {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 10px; }
  .IchibaAdded_List {
    list-style: none;
    padding: 8px; }

.IchibaAddedItem {
  position: relative;
  margin-bottom: 24px; }
  .IchibaAddedItem_Container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start; }
  .IchibaAddedItem_LockedIcon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5); }
  .IchibaAddedItem_Thumbnail {
    flex: 0 0 80px;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: #ffffff; }
    .IchibaAddedItem_Thumbnail a {
      display: block;
      width: 100%;
      height: 100%; }
    .IchibaAddedItem_Thumbnail img {
      max-width: 80px;
      max-height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
  .IchibaAddedItem_Name {
    word-break: break-all;
    color: #006699;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 82px;
    padding-left: 8px;
    padding-right: 24px;
    line-height: calc(80px / 5); }
    .IchibaAddedItem_Name a {
      color: #006699;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none; }
      .IchibaAddedItem_Name a:hover {
        text-decoration: underline; }
  .IchibaAddedItem_DeleteButton {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px; }
  .IchibaAddedItem_Controller {
    display: flex;
    margin-top: 4px; }
  .IchibaAddedItem_LockButton, .IchibaAddedItem_UserNG {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
    line-height: 1 !important;
    padding: 1px 4px 0;
    font-size: 11px;
    font-weight: bold;
    line-height: 21px !important;
    text-decoration: none;
    color: #252525;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px; }
  .IchibaAddedItem_UserNG {
    margin-left: 8px; }
  .IchibaAddedItem_ButtonIcon {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-top: -0.2em; }
