$flagheight: 400px;
$aratio: 16/9;
$flagwidth: $flagheight*$aratio;

#stars{
  text-align: center;
  width: $flagwidth*2/5;
  height: $flagheight/2;
  font-size: $flagheight/22;
}

table.flag{
  height: $flagheight;
  width: $flagwidth;
}

td.star{
  background-color: blue;
  width: $flagwidth*2/5;
  color: white;
  text-align: center;
}

td.red{
  background-color: red;
  height: $flagheight/14;
}
td.white{
  background-color: white;
  height: $flagheight/14;
}