#myCanvas{
  margin: 10px;
  align: center;
}

body{
  background-image: url(https://cdn.discordapp.com/attachments/519756529260429312/667233481109143576/fuck_this.png);
  background-repeat: no-repeat;
  background-size: cover;
}