<head>
  <title>Hello Jumbotron</title>
</head>

 <!-- Space -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello, JavaScript!</h1>
      
         <p class"lead">
        <div id="user"></div>
        <div id="pass"></div>
        </p>
    
      <p class="lead">An interactive webpage.</p>
      <p class="lead">
        <a class="btn btn-primary active btn-lg" href="#" role="button" onclick="loginFunction()">Login</a>
      </p>
    </div>
          <hr class="my-4">
</body>