body {
  background-color: #f84343;
}

img.icon{
  height: 100%;
  width: auto;
}

nav.navbar{ 
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

div.cropper{
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

table.navbar-left {
  border-spacing: 20px; 
}

td{
  padding-left: 5px;
  padding-right: 5px;
}

div.login{
  float: right;
}

#carousel{
  margin: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: 4px solid #f8d27b;
}

#carousel-image{
  height: 400px;
  object-fit: cover;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 60px;
}
div.flex-item {
  border: 0px solid #f84343;
  display: flex;
}
div.card{
  width: 16rem;
  background-color: #ff8a37;
  border: 4px solid #f8d27b;
}