@charset "utf-8";

/* Notification BOX (not premiere) */

#siteHeaderNotification:hover{
	background: none !important;
}

#siteHeaderNotification a:first-child{
	border-left: none;
	border-right: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer{
	position: relative;
	display: inline-block;
	zoom: 1;
	border: #ff0000;
}

*:first-child+html #siteHeaderNotification .siteHeaderNotificationContainer{
	display: inline;
	zoom: 1;
}

#siteHeaderNotification a span{
	border-left: none !important;
	border-right: none !important;
}

#siteHeaderNotification a{
	border-left: none !important;
}

#siteHeaderNotification a:link{
	text-decoration: none;
}

#siteHeaderNotification a#siteHeaderUserContainer:link, #siteHeaderNotification a#siteHeaderUserContainer:visited, #siteHeaderNotification a#siteHeaderUserContainer:hover{
}

#siteHeaderNotification a#siteHeaderUserContainer span#siteHeaderUserNickNameContainer:hover{
	text-decoration: underline;
}

#siteHeaderNotification span.siteHeaderAva{
	padding-right: 4px;
}

#siteHeaderNotification span.siteHeaderAva img{
	width: 22px;
	height: 22px;
	border: #ddd solid 1px;
	margin-top: -2px;
}

#siteHeaderNotification span.siteHeaderNotifications{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 1px 4px;
	color: #fff;
	background: url(bg_notification.png) repeat-x;
	background-position: 0 0px;
	border: #fff solid 2px;
	border-radius: 50%;
	font-size: 77%;
	font-weight: bold;
	line-height: 14px;
	cursor: pointer;
	margin-left: 4px;
	margin-bottom: 1px;
	zoom: 1;
}

#siteHeaderNotification span.siteHeaderNotNotifications{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 1px 4px;
	color: #fff;
	background: url(bg_notification.png) repeat-x;
	background-position: 0 -20px;
	border: #fff solid 2px;
	border-radius: 50%;
	font-size: 77%;
	font-weight: bold;
	line-height: 14px;
	cursor: pointer;
	margin-left: 4px;
	margin-bottom: 1px;
	zoom: 1;
}

/* userInformation other */

#siteHeaderNotification .siteHeaderNotificationContainer a{
	border: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification{
	display: none;
	position: absolute;
	top: 30px;
	right: -100px;
	width: 200px; /* 216 */
	padding: 6px 8px 4px;
	border-radius: 4px;
	color: #fff;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #767676 0%, #282828 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767676), color-stop(20%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #767676 0%,#282828 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #767676 0%,#282828 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #767676 0%,#282828 20%); /* IE10+ */
	background: linear-gradient(top,  #767676 0%,#282828 20%); /* W3C */
/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#282828',GradientType=0 );
*/
	box-shadow: #444 -2px 2px 5px;
	zoom: 1;
	z-index: 9999;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dt{
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dt span{
	position: absolute;
	top: -16px;
	left: 90px;
	display: block;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
	height: 12px;
	background: url(arrow.png) no-repeat center top;
	background-position: 0 0;
	background-position: 0 -12px\9;
	/background-position: 0 -12px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dt span:not(:target){
	background-position: 0 -12px\9;
}


#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd{
	width: 200px;
	margin-bottom: 6px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd a{
	width: 188px;
	display: inline-block;
	background: #f4f4f4;
	border-radius: 4px;
	padding: 6px;
	line-height: 1.3;
	box-shadow: inset #cbcbcb 2px 2px 2px;
	border: none;
	color: #0033cc;
	font-size: 93%;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd a small{
	color: #6b6b6b;
	padding-left: 4px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd a:hover{
	text-decoration: none;
	background: #ffd8d8;
	color: #0033cc;
	border: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd.siteHeaderInformationOption{
	text-align: right;
	margin-top: -3px;
	margin-bottom: 0;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd.siteHeaderInformationOption a{
	display: inline;
	background: none;
	border-radius: 0;
	box-shadow: none;
	border: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd.siteHeaderInformationOption a{
	font-size: 85%;
	color: #fff;
}

/* information option */
#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption{
	clear:both;
	display: none;
	position: absolute;
	top: 30px;
	right: -100px;
	width: 200px; /* 216 */
	padding: 6px 8px 4px;
	border-radius: 4px;
	color: #fff;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #767676 0%, #282828 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767676), color-stop(20%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #767676 0%,#282828 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #767676 0%,#282828 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #767676 0%,#282828 20%); /* IE10+ */
	background: linear-gradient(top,  #767676 0%,#282828 20%); /* W3C */
/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#282828',GradientType=0 );
*/

	box-shadow: #444 -2px 2px 5px;
	zoom: 1;
	z-index: 9999;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dt{
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
	zoom: 1;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dt span{
	position: absolute;
	top: -16px;
	left: 90px;
	display: block;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
	height: 12px;
	background: url(arrow.png) no-repeat center top;
	background-position: 0 0;
	background-position: 0 -12px\9;
	/background-position: 0 -12px;
	zoom: 1;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dt span:not(:target){
	background-position: 0 -12px\9;
}


#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd{
	margin-bottom: 6px;
	background: #f4f4f4;
	border-radius: 4px;
	padding: 4px 6px;
	line-height: 1.3;
	box-shadow: inset #cbcbcb 2px 2px 2px;
	border: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderSwitch{
	display: block;
	clear: both;
	font-size: 77%;
	color: #333;
	padding: 6px 0;
	border-bottom: #d6d6d6 solid 1px;
	border-top: #fff solid 1px;
	margin-bottom: 0;
	zoom: 1;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderFirstChild{
	border-top: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderLastChild{
	border-bottom: none;
}


#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderSwitch input{
	display: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderSwitch span{
	float: right;
	cursor: pointer;
	display: none;
	width: 35px;
	height: 17px;
	background: url(btn_switch.png) no-repeat;
}

*:first-child+html #siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderSwitch span{
	position: relative;
	margin-top: -17px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderSwitch .siteHeaderEnable{
	display: block;
	background-position: 0 0;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd p.siteHeaderSwitch .siteHeaderDisable{
	display: block;
	background-position: 0 -17px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd a.siteHeaderSubmitButtonEnable{
	display: block;
	width: 111px;
  height: 25px;
	font-size: 93%;
	margin: 6px auto 2px;
	color: #333;
	text-align: center;
	background: url("siteheader-optionbutton.png") no-repeat center top;
	border: 0;
	line-height: 26px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd a.siteHeaderSubmitButtonDisable{
	display: block;
	width: 111px;
  height: 25px;
	font-size: 93%;
	margin: 6px auto 2px;
	color: #999;
	text-align: center;
	background: url("siteheader-optionbutton.png") no-repeat center top;
	background-position: 0 -25px;
	border: 0;
	line-height: 26px;
	cursor: default;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd.siteHeaderInformationOption{
	margin-top: -3px;
	margin-bottom: 0;
	background: none;
	border-radius: 0;
	padding: 0;
	line-height: 1.3;
	box-shadow: none;
	overflow: hidden;
	border: none;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationOption dd.siteHeaderInformationOption a{
	display: inline-block;
	float: right;
	font-size: 85%;
	color: #fff;
	border: none;
	margin: 2px 0 0;
	padding: 0;
	border: none;
}

/* information tooltip */

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithoutNotification{
	/* display: block; */
	position: absolute;
	top: 25px;
	right: -68px;
	width: 136px; /* 150 */
	padding: 4px 6px 6px;
	color: #333;
	background: #fff;
	border: #999 solid 1px;
	z-index: 9999;
	margin-top: 3px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithoutNotification span{
	display: block;
	position: absolute;
	top: -7px;
	left: 45%;
	width: 9px;
	height: 7px;
	background: url("tooltip.png") no-repeat center top;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithoutNotification p{
	font-size: 85%;
	margin-bottom: 4px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithoutNotification p.siteHeaderInformationOption{
	display: block;
	margin: 0 auto;
	color: #fff;
	cursor: pointer;
	padding: 2px 4px;
	width: 52px;
	text-align: center;
	background: #000;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithoutNotification p.siteHeaderInformationOption:hover{
	background: #666;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading{
	/* display: block; */
	position: absolute;
	top: 25px;
	right: -68px;
	width: 136px; /* 150 */
	padding: 4px 6px;
	color: #333;
	background: #fff;
	border: #999 solid 1px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading{
	/* display: block; */
	position: absolute;
	top: 30px;
	right: -100px;
	width: 200px; /* 216 */
	padding: 6px 8px 4px;
	border-radius: 4px;
	color: #fff;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #767676 0%, #282828 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767676), color-stop(20%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #767676 0%,#282828 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #767676 0%,#282828 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #767676 0%,#282828 20%); /* IE10+ */
	background: linear-gradient(top,  #767676 0%,#282828 20%); /* W3C */
/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#282828',GradientType=0 );
*/
	box-shadow: #444 -2px 2px 5px;
	zoom: 1;
	z-index: 9999;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading dt{
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading dt span{
	position: absolute;
	top: -16px;
	left: 90px;
	display: block;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
	height: 12px;
	background: url(arrow.png) no-repeat center top;
	background-position: 0 0;
	background-position: 0 -12px\9;
	/background-position: 0 -12px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading dt span:not(:target){
	background-position: 0 -12px\9;
}


#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading dd{
	width: 196px;
	margin-bottom: 6px;
	background: #f4f4f4;
	border-radius: 4px;
	padding: 6px 4px 4px 2px;
	line-height: 1.3;
	box-shadow: inset #cbcbcb 2px 2px 2px;
	color: #333;
	font-size: 93%
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationLoading .loadingImg{
	position: relative;
	display: block;
	float: left;
	margin-top: -2px;
	margin-right: 4px;
	width: 18px;
	height: 18px;
	background: url(loading.gif);
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationError{
	/* display: block; */
	position: absolute;
	top: 30px;
	right: -100px;
	width: 200px; /* 216 */
	padding: 6px 8px 4px;
	border-radius: 4px;
	color: #fff;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #767676 0%, #282828 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767676), color-stop(20%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #767676 0%,#282828 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #767676 0%,#282828 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #767676 0%,#282828 20%); /* IE10+ */
	background: linear-gradient(top,  #767676 0%,#282828 20%); /* W3C */
/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#282828',GradientType=0 );
*/
	box-shadow: #444 -2px 2px 5px;
	zoom: 1;
	z-index: 9999;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationError dt{
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationError dt span{
	position: absolute;
	top: -16px;
	left: 90px;
	display: block;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
	height: 12px;
	background: url(arrow.png) no-repeat center top;
	background-position: 0 0;
	background-position: 0 -12px\9;
	/background-position: 0 -12px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationError dt span:not(:target){
	background-position: 0 -12px\9;
}


#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationError dd{
	width: 188px;
	margin-bottom: 6px;
	background: #f4f4f4;
	border-radius: 4px;
	padding: 6px 6px 4px;
	line-height: 1.3;
	box-shadow: inset #cbcbcb 2px 2px 2px;
	color: #333;
	font-size: 93%
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationMaintenance{
	/* display: block; */
	position: absolute;
	top: 30px;
	right: -100px;
	width: 200px; /* 216 */
	padding: 6px 8px 4px;
	border-radius: 4px;
	color: #fff;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #767676 0%, #282828 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767676), color-stop(20%,#282828)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #767676 0%,#282828 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #767676 0%,#282828 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #767676 0%,#282828 20%); /* IE10+ */
	background: linear-gradient(top,  #767676 0%,#282828 20%); /* W3C */
/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#282828',GradientType=0 );
*/
	box-shadow: #444 -2px 2px 5px;
	zoom: 1;
	z-index: 9999;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationMaintenance dt{
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationMaintenance dt span{
	position: absolute;
	top: -16px;
	left: 90px;
	display: block;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
	height: 12px;
	background: url(arrow.png) no-repeat center top;
	background-position: 0 0;
	background-position: 0 -12px\9;
	/background-position: 0 -12px;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationMaintenance dt span:not(:target){
	background-position: 0 -12px\9;
}


#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationMaintenance dd{
	width: 188px;
	margin-bottom: 6px;
	background: #f4f4f4;
	border-radius: 4px;
	padding: 6px 6px 4px;
	line-height: 1.3;
	box-shadow: inset #cbcbcb 2px 2px 2px;
	color: #333;
	font-size: 93%
}

#siteHeaderNotification a.siteHeaderUpgrade small{
	display: inline-block;
	color: #6b6b6b;
	padding-left: 2px;
	padding-right: 0;
}

*:first-child+html #siteHeaderNotification a.siteHeaderUpgrade small{
	padding-left: 12px;
}

#siteHeaderNotification a.siteHeaderUpgrade span{
	color: #FF6633;
	border-left: none;
	padding-right: 6px;
	padding-left: 0;
}

#siteHeaderNotification a.siteHeaderUpgrade:hover span{
	text-decoration: underline;
}

#siteHeaderNotification a.siteHeaderUpgrade{
	display: none;
}


/* Notification BOX (premiere / notPremium) */

#siteHeaderNotification.siteHeaderPremium{
	padding-right: 6px;
}

#siteHeaderNotification.siteHeaderNotPremium a.siteHeaderUpgrade{
	display: inline-block !important;
}

#siteHeaderNotification.siteHeaderPremium a.siteHeaderUpgrade{
	display: none !important;
}

#siteHeaderNotification.siteHeaderPremium span.siteHeaderAva{
	position: relative;
	display: inline-block;
	top: -1px;
	padding: 0 !important;
	margin: -5px 4px 0 0;
	background: #edb200;
	background: -moz-linear-gradient(top, #ffee9d, #edb200);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffee9d), to(#edb200));
	filter: progid :DXImageTransform.Microsoft.gradient(startColorStr=#ffee9d,endColorStr=#edb200, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffee9d,endColorstr=#edb200, GradientType=0)";
    line-height: 1;
}

#siteHeaderNotification.siteHeaderPremium span.siteHeaderAva img{
	width: 26px;
	height: 26px;
	margin: 2px 2px 2px 2px;
	border: none;
}

