div.jumbotron{
  margin: 30px;
  border-radius: 10px;
  background: lavender;
  border: 4px solid white; }

body {
  background-color: purple;
}
td{
  border: 4px solid #f8d27b;
  padding; 10px;
}

#table_data{
  
}

indent{
  font-size: 1.2 rem;
}
