body {
  background-color: #f84343;
}

div.jumbotron{
  margin: 30px;
  border-radius: 10px;
  background: orange;
  border: 4px solid #f8d27b; 
}

div.flex-container {
   padding-top: 30px;
  background: orange;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-around;
}
div.flex-item {
  border: 0px solid #f84343;
  display: flex;
}
div.card{
  width: 19rem;
  background-color: #ff8a37;
  border: 4px solid #f8d27b;
}
