body {
 background-color: white;
}
.panel {
 margin: 20px auto;
 width: 400px;
}
.container {
 background-color: black;
 border: 10px solid #4b2e83;
}
#osu {
 background-color: #252525;
 color: #Cc4500;
}

#cal {
 background-color: #081f3f;
 color: #fcb326
}
#uw {
 background-color: #4b2e83;
 color: #b7a57a;
}

#wsu {
 background-color: #981e32;
 color: #5e6a71;
}
#wsu {
 background-color: #981e32;
 color: #5e6a71;
}
#ou {
 background-color: #154733;
 color: yellow;
}
#su {
 background-color: #990000;
 color: lightgray;
}

indent{
  font-size: 1.2 rem;
}



