td {
  width: 50px;
  color: white;
}

table {
  border: 0;
  zoom: 0.6;
  border-radius: 4px;
  overflow: hidden;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
table#flag {
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
  background: blue;
}

td {
  font-size: 40px;
  border: 2px;
}


.white .red {
}
.white {
  background: white;
  width: 300px;
}

.red {
  background: red;
  width: 300px;
}
