<head>
  <title>Hello Jumbotron</title>
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white" href="#">Navbar</a>

    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Labs
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Content</a>
            
            <a class="dropdown-item" href="#">Content</a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="#">Content</a>
          </div>
          
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="username" aria-label="Search">
        </form>
     
      <form action="http://courses.washington.edu/bimd233/bimd.php" method="post" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="password" aria-label="Search">
       
        <button class="btn btn-success my-2 my-sm-0" type="submit">Sign in</button>
      </>
    </div>
  </nav>
 <!-- Space -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello, Jumbotron!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, mazim mundi vocibus ne pri. Mel ei errem accusata sapientem, cum elaboraret referrentur eu. Ei omittantur eloquentiam has, an alii aperiam tacimates vis. Eos nostro possim scripta te.</p>
      <p class="lead">
        <a class="btn btn-primary active btn-lg" href="#" role="button">info</a>
      </p>
    </div>
    
     <!-- Space -->
    <div class="flex-container">
      <div class='flex-item' id="item1">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-white">You!</h5>
            <p class="card-text text-white">In fierent mandamus concludaturque usu, pri libris vidisse an, dicat commodo sententiae mea ex. Vis ad vero possit mollis, qui mazim dolor commune ut, an veniam definitiones has. Denique contentiones cu nam. Ea nec simul singulis. Ut nam congue laoreet, vis erat oportere interpretaris ei.  </p>
            <a href="#" class="btn btn-light active">Lets Go!</a>
          </div>
        </div>
        
      <!-- Space -->   
     <div class="flex-container">
      <div class='flex-item' id="item1">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-white">Yah!!</h5>
            <p class="card-text text-white">Ad est euismod necessitatibus, eos cu populo propriae patrioque. Noster efficiantur ne mei. Sea in vidit exerci discere, et eum postea luptatum. Qui et epicurei vulputate, sed prompta dolorem no.</p>
            <a href="#" class="btn btn-light active">Lets Go!</a>
          </div>
        </div>
        
        <!-- Space --> 
     <div class="flex-container">
      <div class='flex-item' id="item1">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-white">Hey!!!</h5>
            <p class="card-text text-white">Vel in reque saperet dolorum, vel in fastidii oportere. Has modus justo mazim te, malis iusto no sea, mei ei quot accusam. Cum ea ridens ancillae cotidieque. Etiam essent vim et. No modus eripuit accusata pro, maiorum incorrupte mea in. No graeci dicunt nam, et suas scripta adolescens sit. </p>
            <a href="#" class="btn btn-light active pull-right">Lets Go!</a>
          </div>
        </div>
      </div>
       
          <hr class="my-4">

</body>