body {
  background-color: #f84343;
}
.display-4 {
  font-size: 54px;
  font-weight: 700;
  padding-left: 50px;
  color: #f84343;
}
p.lead {
  padding-left: 50px;
  padding-right: 50px;
}
div.jumbotron {
  background: #ffe7c5;
  color: #f84343;
  margin-top: 5px;
  height: 300px;
  font-size: 12px;
  padding: 20px;
  border: 4px solid #f8d27b;
}

nav.navbar {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
} 
div.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 60px;
}
div.flex-item {
  border: 0px solid #f84343;
  display: flex;
}
div.card{
  width: 16rem;
  background-color: #ff8a37;
  border: 4px solid #f8d27b;
}