p{
  width: 50px;
  height: 50px;
}

p.rgb_1{
  background-color: rgb(28, 29, 108);
}
p.rgb_2{
  background-color: rgba(28, 29, 108, 0.9);
}
p.rgb_3{
  background-color: rgba(28, 29, 108, 0.8);
}
p.rgb_4{
  background-color: rgba(28, 29, 108, 0.7);
}
p.rgb_5{
  background-color: rgba(28, 29, 108, 0.6);
}
p.rgb_6{
  background-color: rgba(28, 29, 108, 0.5);
}
p.rgb_7{
  background-color: rgba(28, 29, 108, 0.4);
}
p.rgb_8{
  background-color: rgba(28, 29, 108, 0.3);
}
p.rgb_9{
  background-color: rgba(28, 29, 108, 0.2);
}
p.rgb_10{
  background-color: rgba(28, 29, 108, 0.1);
}

p.hsl_1{
  background-color: hsl(239, 59%, 27%);
}
p.hsl_2{
  background-color: hsla(239, 59%, 27%, 0.9);
}
p.hsl_3{
  background-color: hsla(239, 59%, 27%, 0.8);
}
p.hsl_4{
  background-color: hsla(239, 59%, 27%, 0.7);
}
p.hsl_5{
  background-color: hsla(239, 59%, 27%, 0.6);
}
p.hsl_6{
  background-color: hsla(239, 59%, 27%, 0.5);
}
p.hsl_7{
  background-color: hsla(239, 59%, 27%, 0.4);
}
p.hsl_8{
  background-color: hsla(239, 59%, 27%, 0.3);
}
p.hsl_9{
  background-color: hsla(239, 59%, 27%, 0.2);
}
p.hsl_10{
  background-color: hsla(239, 59%, 27%, 0.1);
}
  